#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#random-fact-container {
  margin-top: 20px;
}

#server-message-container {
  margin-top: 20px;
}

#map {
  border: thin solid black;
  height: 500px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#info-window {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Class with descendant selector */
.image-thumbnails img{
  margin: 10px;
  max-height: 200px;
  max-width: 200px;
}

.remmy{
    width: 200px;
    height: 300px;
}

.tournament{
    width: 300px;
    height: 200px;
}
